/* Slider */
.carousel-inner, .carousel-item {
  height: 100vh; }

.carousel-item img {
  height: 100%;
  object-fit: cover; }

.carousel-caption {
  left: 50%;
  top: 50%;
  right: auto;
  bottom: auto;
  padding-top: 0;
  padding-bottom: 0; }

.text-white {
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.text-black {
    color: black;
}

/* 2nd col - "Nowosci" */
.card img{
    width: 100%;
    height: 300px;
    object-fit: cover;
}
.info{
    background-color: #eff2f5;
}
.box ul{
    margin: 12px 0 0 0;
    padding: 0;
}
.box ul li{
    list-style-type: none;
    float: left;
    margin-right: 15px;
}
.box li a{
    font-size: 16px;
    color: black;
}
